.similar-job-list-item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 15px;
  margin: 10px;
  background-color: #121212;
  max-width: 400px;
}

.company-logo-job-type-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.company-logo {
  height: 60px;
  width: 60px;
  margin-right: 15px;
}
@media screen and (min-width: 768px) {
  .company-logo {
    height: 80px;
    width: 80px;
  }
}

.job-type-container-similar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.similar-jobs-type-heading {
  font-size: 18px;
  font-weight: 700;
  font-family: 'roboto';
  color: #f8fafc;
}

.rating-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.star-icon {
  color: #fbbf24;
  width: 16px;
  height: 16px;
}

.rating-similar {
  font-size: 18px;
  font-weight: 700;
  font-family: 'roboto';
  color: #f8fafc;
  padding: 0px;
}

.similar-description-heading {
  font-size: 20px;
  font-weight: 700;
  font-family: 'roboto';
  color: #f8fafc;
}

@media screen and (min-width: 768px) {
  .similar-description-heading {
    font-size: 24px;
  }
}

.similar-description {
  font-size: 14px;
  font-weight: 400;
  font-family: 'roboto';
  color: #f8fafc;
}

@media screen and (min-width: 768px) {
  .similar-description {
    font-size: 16px;
  }
}

.location-type-container {
  display: flex;
}

.location-container {
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.icon {
  color: #f1f5f9;
  width: 28px;
  height: 28px;
  margin-right: 5px;
}

.location-similar {
  font-size: 1px;
  font-weight: 500;
  font-family: 'roboto';
  color: #f8fafc;
}

@media screen and (min-width: 768px) {
  .location-similar {
    font-size: 18px;
  }
}

.type-container-similar {
  display: flex;
  align-items: center;
}

.type-similar {
  font-size: 14px;
  font-weight: 500;
  font-family: 'roboto';
  color: #f8fafc;
}

@media screen and (min-width: 768px) {
  .type-similar {
    font-size: 18px;
  }
}
