.all-jobs-section {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .all-jobs-section {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 768px) {
  .all-jobs-container {
    margin-left: 30px;
    width: 70%;
    .all-jobs-section {
      display: flex;
      flex-direction: column;
    }

    @media screen and (min-width: 768px) {
      .all-jobs-section {
        flex-direction: row;
        justify-content: space-between;
      }
      .jobs-loader-container {
        width: 70%;
      }
    }

    .jobs-list {
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;
    }
  }
}

.jobs-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .jobs-loader-container {
    width: 70%;
  }
}

.jobs-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.no-jobs-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 64px;
  margin-top: 48px;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .no-jobs-view {
    margin-left: 30px;
    width: 70%;
    padding-bottom: 0;
    margin-top: 0px;
  }
}

.no-jobs-img {
  width: 250px;
  height: 180px;
}

@media screen and (min-width: 768px) {
  .no-jobs-img {
    width: 459px;
    height: 315px;
  }
}

.no-jobs-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3px;
}

@media screen and (min-width: 768px) {
  .no-jobs-heading {
    margin-top: 32px;
    font-size: 24px;
  }
}

.no-jobs-description {
  text-align: center;
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 14px;
  width: 90%;
  max-width: 288px;
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  .no-jobs-description {
    margin-top: 12px;
    font-size: 18px;
    width: 60%;
    max-width: 466px;
  }
}

.jobs-error-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  padding-bottom: 64px;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .jobs-error-view-container {
    margin-top: 0px;
    margin-left: 30px;
    width: 70%;
    padding-bottom: 0;
  }
}

.jobs-failure-img {
  width: 250px;
  height: 200px;
}

@media screen and (min-width: 768px) {
  .jobs-failure-img {
    width: 400px;
    height: 350px;
  }
}

.jobs-failure-heading-text {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  .jobs-failure-heading-text {
    font-size: 24px;
  }
}

.jobs-failure-description {
  text-align: center;
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 14px;
  width: 90%;
  max-width: 288px;
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  .jobs-failure-description {
    font-size: 18px;
    width: 60%;
    max-width: 466px;
  }
}

.retry-button {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 10px;
  padding: 8px 16px;
  color: #ffffff;
  background-color: #0967d2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}
